'.source.pgsql':
  'CREATE FUNCTION':
    'prefix': 'create'
    'body': '''
      CREATE OR REPLACE FUNCTION ${1:<schemaName>}.${2:<functionName>}($3)
      RETURNS record AS
      $BODY$
      DECLARE
        $4
      BEGIN
        $5
      END;
      $BODY$
        LANGUAGE plpgsql VOLATILE
        COST 100;
      ALTER FUNCTION ${1:<schemaName>}.${2:<functionName>}($3)
        OWNER TO ${6:<user or group>};
    '''
    'description': 'Create a new function'
  'IF':
    'prefix': 'if'
    'body': '''
      IF ${1:<expresion>} THEN
        $2
      END IF;
    '''
  'IFELSE':
    'prefix': 'ifelse'
    'body': '''
      IF ${1:<expresion>} THEN
        $2
      ELSE
        $3
      END IF;
    '''
  'IFELSIF':
    'prefix': 'ifelsif'
    'body': '''
      IF ${1:<expresion>} THEN
        $2
      ELSIF ${3:<expresion>} THEN
        $4
      ELSE
        $5
      END IF;
    '''
  'END':
    'prefix': 'end'
    'body': '''
      END;
    '''
  'ENDIF':
    'prefix': 'endif'
    'body': '''
      END IF;
    '''
  'FOR':
    'prefix': 'for'
    'body': '''
      FOR ${1:<target>} IN ${2:<expresion>} LOOP
        $3
      END LOOP;
    '''
  'DO':
    'prefix': 'do'
    'body': '''
      DO
      $$
      DECLARE
        $1
      BEGIN
        $2
      END;
      $$;
    '''
    'description': 'Create a anonymous function'
  'SELECT':
    'prefix': 'select'
    'body': '''
      SELECT $1 FROM $2 ${3:WHERE?};
    '''
  'SELECTINTO':
    'prefix': 'selectinto'
    'body': '''
      SELECT $1 FROM $2 INTO $3;
    '''
  'COALESCE':
    'prefix': 'coalesce'
    'body': '''
      COALESCE($1, $2);
    '''
  'RAISEEXCEPTION':
    'prefix': 'raiseexcep'
    'body': '''
      RAISE EXCEPTION '$1%', $2;
    '''
